#SkillShare {
    text-align: center;
    font-size: 2rem;
    color: #353333;
    animation: fadeInUp 2s ease-out;
    margin-top: 50px;
    /* purple gradient */
   
}

.form-section h2 {
    color: white;
}

/* Animation keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}